<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger Time</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    {{{body}}}

<script>
    //console.log("DOM Ready");


    $("#submit").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
        event.preventDefault();
    
        var newBurger = {
            name: $("#burger-add").val().trim(),
            eaten: false
        };
    
        // Send the POST request.
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function() {
            console.log("created new burger");
            location.reload();
            }
        );
    });

    $(".eat-burger").on("click", function(event) {
        var id = $(this).data("id")

        var eatenBurger = {
            name: id,
            eaten: true
        }

        console.log("botton clicked")

        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: eatenBurger
        }).then(
            function() {
                console.log("burger eaten")
                location.reload()
            }
        )
    })

 
</script>
</body>
</html>