<main class="container">
    
    <section class="card-panel amber lighten-2">
        <div class="row center-align">
            <div class="col m12">
                <h1 class="red-text">Burger Me</h1>
            </div>
        </div>

        <div class="row center-align">
            {{!-- <div class="col m2"></div> --}}
            <div class="col m4">
                <h2><u>Burger List</u></h2>
                <ol id="added-list">
                    {{#each burger}}
                        {{#unless eaten}}
                            {{> burgers/burger-list eaten=false}}
                        {{/unless}}
                    {{/each}}
                </ol>
            </div>
            <div class="col m4"></div> 
            <div class="col m4">
                <h2><u>Eaten List</u></h2>
                <ol id="eaten-list">
                    {{#each burger}}
                        {{#if eaten}}
                            {{> burgers/burger-eaten eaten=true}}
                        {{/if}}
                    {{/each}}
                </ol>
            </div>
            
        </div>
        <div class="row center-align">
            <div class="col m3"></div>
            <div class="col m6">
                <form>
                    <textarea class="white" name="burger-add" id="burger-add" cols="10" rows="10"></textarea>

                    <button id="submit" type="submit">Add Burger</button>
                </form>
            </div>
            <div class="col m3"></div>
        </div>
    </section>
    
    
    
    
</main>



